* {

}



nav {
    display: flex;
    justify-content: space-between;

}
/*ul {
    display: flex;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}*/
.search-parent {
    position: relative;
}
.search-parent input {
    border-radius: 66px;
    padding: 15px 30px;
    width: 500px;
    background-color: #F1F1F1;

}
.search-parent i {
    position: absolute;
    top: 17px;
    right: 15px;
}